@import url('https://fonts.googleapis.com/css?family=Oxygen|Rufina');

/*
#003249
#007EA7
#80CED7
#9AD1D4
#CCDBDC
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Oxygen", sans-serif;
  background-color: #CCDBDC;
}

.rufina {
  font-family: "Rufina", serif;
  font-size: 1.5rem;
}

.oxygen {
  font-family: "Oxygen", sans-serif;
}

a {
  color: #003249;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border-bottom: 2px solid #003249;
}

.holder-logo {
  display: flex;
}

.logo1 {
  text-transform: uppercase;
  font-weight: bold;
}

.logo2 {
  text-transform: uppercase;
}

#desktop {
  display: block;
}

#desktop a {
  margin-left: 16px;
}

#mobile {
  display: none;
}

#learn {
  background-color: #007EA7;
  padding: 32px 24px;
  display: flex;
}

#learn h1 {
  font-family: "Rufina", serif;
  font-size: 2rem;
  line-height: 1.8rem;
}

#learn h2 {
  font-size: 1rem;
  margin: 32px 0 24px 0;
}

button {
  background-color: #003249;
  color: #CCDBDC;
  border: 0;
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  padding: 8px 0;
  border: 2px solid #003249;
}

button:hover {
  background-color: #80CED7;
  color: #003249;
}
.campus-info-single .red:hover {
  background-color: red;
}


.holder-img-header {
  width: 60%;
  height: auto;
}

.img-header {
  width: 100%;
  height: auto;
}
.red:hover {
  background-color: red;
}


.campus-info-single .red:hover{
    display: flex;
    min-height: 168px;
    border-bottom: 1px solid #21686d;
}
.holder-learn {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  margin-left: 40px;
}

#practice {
  display: flex;
}

#practice h1 {
  font-family: "Rufina", serif;
  font-size: 2rem;
  line-height: 1.8rem;
  margin: 32px 0 24px 0;
}

#practice h3 {
  font-family: "Rufina", serif;
  font-size: 1.5rem;
}

#practice h4 {
  font-family: "Oxygen", sans-serif;
  font-size: 0.8rem;
  margin: 8px 0;
}

#practice a {
  text-decoration: underline;
}

#practice a:hover {
  text-decoration: none;
}

.holder-practice-main {
  padding: 32px 24px;
  border-right: 1px solid #007EA7;
}

.holder-img-practice {
  width: 100%;
  height: auto;
}

.img-practice {
  width: 100%;
  height: auto;
}

.quoted {
  margin: 20px 0;
  font-weight: bold;
}

.holder-campus-info {
  min-width: 423px;
}

.campus-info-single {
  display: flex;
  min-height: 168px;
  border-bottom: 1px solid #007EA7;
}

.holder-img-campus-info {
  max-width: 33%;
  height: auto;
  margin: 16px;
}

.img-campus-info {
  width: 100%;
  height: auto;
}

.img-campus-info-mobile {
  display: none;
}

.campus-info-text {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  margin-right: 8px;
}

.blue {
  background-color: #007EA7;
}

#learning {
  background-color: #007EA7;
  padding-bottom: 16px;
}

#learning h1 {
  font-family: "Rufina", serif;
  font-size: 2rem;
  padding: 32px 0 16px 0;
  text-align: center;
}

#learning h2 {
  font-family: "Rufina", serif;
  font-size: 1.5rem;
  margin: 16px 0;
}

#learning h3 {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  margin: 8px 0;
}

.holder-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
}

.holder-course {
  background-color: #CCDBDC;
  width: 30%;
  margin: 16px;
  padding-bottom: 24px;
}
.holder-course:hover {
  background-color: #CCCDBC;
  width: 30%;   
  margin: 16px;
  padding-bottom: 24px;
}
.holder-course-txt {
  padding: 16px 16px;
}

.holder-course-img {
  width: 100%;
  height: auto;
}

.course-img {
  width: 100%;
  height: auto;
}

#thesis h1 {
  font-family: "Rufina", serif;
  font-size: 2rem;
  padding: 32px 0;
  text-align: center;
}

#thesis h3 {
  font-family: "Rufina", serif;
  font-size: 1.5rem;
}

#thesis h4 {
  font-family: "Oxygen", sans-serif;
  font-size: 0.8rem;
  margin: 8px 0;
}

.holder-thesis {
  width: 100%;
  display: flex;
}

.holder-vid {
  height: auto;
  width: 100%;
  padding-left: 24px;
}

video {
  height: auto;
  width: 100%;
}

.holder-thesis-txt {
  margin: 24px 0 32px 24px;
}

.holder-thesis-txt p {
  margin-top: 16px;
}

.holder-thesis-info {
  min-width: 423px;
  margin-left: 16px;
}

.thesis-info-single {
  min-height: 168px;
  display: flex;
  align-items: center;
}
.thesis-info-single:hover {
  min-height: 168px;
  display: flex;
  align-items: center;
  background-color: #CCCDBC;
}

.holder-thesis-img {
  max-width: 35%;
  height: auto;
  margin: 16px;
}

.thesis-img {
  width: 100%;
  height: auto;
}

.thesis-info-txt {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  margin-right: 8px;
}

footer {
  background-color: #007EA7;
  color: #003249;
  padding: 0 24px;
  border-top: 2px solid #003249;
  display: flex;
  justify-content: space-between;
}

.copy {
  display: block;
  padding: 16px 0;
}

.links {
}

footer a {
  display: inline-block;
  margin: 16px 0 0 16px;
  text-decoration: underline;
}

footer a:hover {
  text-decoration: none;
}

/*
#003249
#007EA7
#80CED7
#9AD1D4
#CCDBDC
*/



@media only screen and (max-width: 510px) {

#desktop {
  display: none;
}

#mobile {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.holder-logo {
  display: none;
}

#learn {
  padding: 0;
  flex-wrap: wrap;
}

.holder-img-header {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.holder-learn {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  margin: 32px 16px;
  width: 100%;
}

#practice {
  padding-bottom: 16px;
}

.holder-practice-main {
  display: none;
}

.holder-campus-info {
  width: 100%;
}

.campus-info-single {
  flex-flow: wrap column;
  border: 0;
  height: auto;
}

.holder-img-campus-info {
  min-width: 100%;
  margin: 0;
  padding: 16px;
}

.img-campus-info {
  display: none;
}

.img-campus-info-mobile {
  display: inline-block;
  width: 100%;
  height: auto;
}

.blue {
  background-color: #CCDBDC;
}

.campus-info-text {
  margin-left: 32px;
  margin-bottom: 16px;
}

#learning {
  padding-bottom: 24px;
}

#learning h1 {
  font-family: "Rufina", serif;
  font-size: 2rem;
  padding: 32px 0 8px 0;
  text-align: center;
}

#learning h2 {
  line-height: 0.5rem;
}

.holder-courses {
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.holder-course {
  width: 100%;
  margin: 8px 16px;
  padding: 0;
}

.holder-course-txt h3, p {
  display: none;
}

.holder-course-img {
  display: none;
}

.course-img {
  display: none;
}

.holder-vid {
  height: auto;
  width: 100%;
  padding: 0;
}

#thesis {
  padding-bottom: 24px;
}
.holder-thesis-txt {
  display: none;
}

.holder-thesis-info {
  display: none;
}

footer {
  justify-content: flex-start;
}

.links {
  display: none;
}
}
